{% for net in shared_networks %}
set service dhcp-server shared-network-name {{ net.name }} subnet {{ net.subnet.network }}/{{ net.subnet.prefix }} option default-router '{{ net.subnet.gateway }}'
set service dhcp-server shared-network-name {{ net.name }} subnet {{ net.subnet.network }}/{{ net.subnet.prefix }} range {{ net.dhcp_range.name }} start '{{ net.dhcp_range.start_ip }}'
set service dhcp-server shared-network-name {{ net.name }} subnet {{ net.subnet.network }}/{{ net.subnet.prefix }} range {{ net.dhcp_range.name }} stop '{{ net.dhcp_range.stop_ip }}'
set service dhcp-server shared-network-name {{ net.name }} subnet {{ net.subnet.network }}/{{ net.subnet.prefix }} subnet-id '{{ net.subnet.id }}'
{% endfor %}
