set service dhcp-server shared-network-name NET-11 subnet 10.0.11.0/24 option default-router '10.0.11.1'
set service dhcp-server shared-network-name NET-11 subnet 10.0.11.0/24 range R1 start '10.0.11.10'
set service dhcp-server shared-network-name NET-11 subnet 10.0.11.0/24 range R1 stop '10.0.11.254'
set service dhcp-server shared-network-name NET-11 subnet 10.0.11.0/24 subnet-id '11'
set service dhcp-server shared-network-name NET-12 subnet 100.64.12.0/24 option default-router '100.64.12.1'
set service dhcp-server shared-network-name NET-12 subnet 100.64.12.0/24 range R1 start '100.64.12.10'
set service dhcp-server shared-network-name NET-12 subnet 100.64.12.0/24 range R1 stop '100.64.12.254'
set service dhcp-server shared-network-name NET-12 subnet 100.64.12.0/24 subnet-id '12'
